<form action="produtos/salvar" class="col-md-6 mx-auto shadow p-3" method="get">
    <label for="descricao">DESCRICAO</label>
    <input type="text" id="descricao" class="d-block form-control" name="descricao">

    <label for="preco">PRECO</label>
    <input type="text" id="preco" class="d-block form-control" name="preco">

    <label for="estoque">ESTOQUE</label>
    <input type="text" id="estoque" class="d-block form-control" name="estoque">
    

    <button type="submit" class="mt-3 btn btn-success">Cadastrar</button>
</form>