<h1>
</h1>
<h2>
    Hello World!! Admin {{ nome }}
</h2>

<p>
    Empresa: {{ dados.empresa }}
</p>

<form action="/">
    <label for="nome">Nome: </label>
    <input type="text" id="nome" name="nome">
    <button type="submit">Ok</button>
</form>