<form method="post" action="/usuarios/salvar">
    <div>
        <label for="username">username </label>
        <input type="text" class="form-control"  name="username" required>
    </div>

    <div>
        <label for="senha" class="form-label">senha</label>
        <input type="text" class="form-control"  name="senha" required>
    </div>

    <div>
        <label for="categoria">categoria</label>
        <select name="categoria" class="form-select">
            <option value="1">ADMIN</option>
        </select>
    </div>


    <div class="my-3">
        <select name="pessoa_id" id="" class="form-select">
            {{#each pessoas}}
                <option value="{{id}}">{{nome}}</option>
            {{/each}}
        </select>
    </div>

    <button type="submit" class="btn btn-primary">CADASTRAR</button>
</form>