<form action="salvar">
    <fieldset>
        <legend>CADASTRO DE PRODUTO</legend>
        <label for="descricao">DESCRIÇÃO</label>
        <input type="text" name="descricao" required>
        <label for="preco">PREÇO</label>
        <input type="number" name="preco" required>
        <label for="estoque">ESTOQUE</label>
        <input type="number" name="estoque" required>
        <button type="submit">Salvar</button>
        
    </fieldset>
</form>